<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 引入默认配置 -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<!-- 日志输出文件配置 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}${LOG_FILE}</File>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{60} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}daily/${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>180</maxHistory> <!-- 保留180天 -->
        </rollingPolicy>
    </appender>
	<!-- 开发、测试环境 -->
    <springProfile name="dev,test">
        <logger name="com.gitile" level="DEBUG" />
	    <root level="INFO">
	        <appender-ref ref="CONSOLE"/>
	        <appender-ref ref="FILE"/>
	    </root>
    </springProfile>
    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="com.gitile" level="ERROR" />
        <root level="ERROR">
	        <appender-ref ref="CONSOLE"/>
	        <appender-ref ref="FILE"/>
	    </root>
    </springProfile>

</configuration>