*.class
# Package Files #
*.war
*.ear

# Eclipse Files #
.project
.settings
.classpath
.springBeans
.factorypath
.apt_generated

# Maven Files #
target

# Grunt Files #
node_modules
.tmp

# Other Files #
*.bat
logs
*~
*.bak